<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.transaction.dao.MaterialStoreageMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.transaction.entity.MaterialStoreage">
    <id column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="transaction_summary_id" jdbcType="BIGINT" property="transactionSummaryId" />
    <result column="inventory_type_id" jdbcType="BIGINT" property="inventoryTypeId" />
    <result column="po_header_id" jdbcType="BIGINT" property="poHeaderId" />
    <result column="item_grade_id" jdbcType="BIGINT" property="itemGradeId" />
    <result column="specific_id" jdbcType="BIGINT" property="specificId" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="net_weight_per_unit" jdbcType="DOUBLE" property="netWeightPerUnit" />
    <result column="store_ids" jdbcType="VARCHAR" property="storeIds" />
    <result column="net_weight" jdbcType="DOUBLE" property="netWeight" />
    <result column="gross_weight" jdbcType="DOUBLE" property="grossWeight" />
    <result column="piece_num" jdbcType="BIGINT" property="pieceNum" />
    <result column="create_transaction_id" jdbcType="BIGINT" property="createTransactionId" />
    <result column="update_transaction_id" jdbcType="BIGINT" property="updateTransactionId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    store_id, item_id, item, transaction_summary_id, inventory_type_id, po_header_id, item_grade_id, specific_id, warehouse, net_weight_per_unit, net_weight, 
    gross_weight, piece_num, create_transaction_id, update_transaction_id, remarks, created_by, 
    created_date, last_updated_by, last_updated_date, organization_id
  </sql>
  <sql id="Base_Where">
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
	  <if test="itemId != null">
        and item_id = #{itemId,jdbcType=BIGINT}
      </if>
      <if test="item != null">
        and item = #{item,jdbcType=VARCHAR}
      </if>
      <if test="transactionSummaryId != null">
        and transaction_summary_id = #{transactionSummaryId,jdbcType=BIGINT}
      </if>
      <if test="inventoryTypeId != null">
        and inventory_type_id = #{inventoryTypeId,jdbcType=BIGINT}
      </if>
      <if test="poHeaderId != null">
        and po_header_id = #{poHeaderId,jdbcType=BIGINT}
      </if>
      <if test="itemGradeId != null">
        and item_grade_id = #{itemGradeId,jdbcType=BIGINT}
      </if>
      <if test="specificId != null">
        and specific_id = #{specificId,jdbcType=BIGINT}
      </if>
      <if test="netWeightPerUnit != null">
        and net_weight_per_unit = #{netWeightPerUnit,jdbcType=DOUBLE}
      </if>
      <if test="warehouse != null">
        and warehouse = #{warehouse,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
        and DATE_FORMAT(created_date, '%Y-%m-%d') = DATE_FORMAT(#{createdDate,jdbcType=TIMESTAMP}, '%Y-%m-%d')
      </if>
      <if test="organizationId != null">
        and organization_id = #{organizationId,jdbcType=BIGINT}
      </if>
	</trim>
  </sql>
  <select id="findByCond" parameterType="com.honest.sdms.transaction.entity.MaterialStoreage" resultMap="BaseResultMap">
	select
	GROUP_CONCAT(store_id SEPARATOR ',') as store_ids,ms.item_id,ms.item,ms.specific_id,net_weight_per_unit, sum(ms.net_weight) as net_weight,sum(ms.piece_num) as piece_num,ms.warehouse,max(ms.created_date) as created_date,ms.organization_id,
	(select ds.dict_data_name from sys_dict_datas ds where ds.id = ms.specific_id and ds.organization_id = ms.organization_id and ds.dict_id = 3) as specificName,
	(select ds.dict_data_name from sys_dict_datas ds where ds.id = ms.item_grade_id and ds.organization_id = ms.organization_id and ds.dict_id = 13) as itemGradeName,
	(select ds.dict_data_name from sys_dict_datas ds where ds.dict_data_code = ms.warehouse and ds.organization_id = ms.organization_id and ds.dict_id = 1) as warehouseName,
	(select ds.dict_data_name from sys_dict_datas ds where ds.id = ms.inventory_type_id and ds.organization_id = ms.organization_id and ds.dict_id = 9) as inventoryType
	from material_storeage ms
	<include refid="Base_Where" />
	group by ms.item_id,ms.item,ms.specific_id,ms.warehouse,ms.inventory_type_id,net_weight_per_unit,ms.organization_id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_storeage
    where store_id = #{storeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from material_storeage
    where store_id = #{storeId,jdbcType=BIGINT}
  </delete>
  <insert id="saveList" parameterType="list">
	insert into material_storeage (item_id, item,
	transaction_summary_id, inventory_type_id, po_header_id, item_grade_id, specific_id, warehouse,
	net_weight_per_unit,
	net_weight, gross_weight, piece_num,
	create_transaction_id, update_transaction_id,
	remarks, created_by, created_date,
	last_updated_by, last_updated_date, organization_id)
	VALUES
	<foreach collection="list" item="item" separator=",">
		(#{item.itemId,jdbcType=BIGINT}, #{item.item,jdbcType=VARCHAR},
		#{item.transactionSummaryId,jdbcType=BIGINT},#{item.inventoryTypeId,jdbcType=BIGINT},
		#{item.poHeaderId,jdbcType=BIGINT}, #{item.itemGradeId,jdbcType=BIGINT}, #{item.specificId,jdbcType=BIGINT},
		#{item.warehouse,jdbcType=VARCHAR},
		#{item.netWeightPerUnit,jdbcType=DOUBLE},#{item.netWeight,jdbcType=DOUBLE},
		#{item.grossWeight,jdbcType=DOUBLE}, #{item.pieceNum,jdbcType=BIGINT},
		#{item.createTransactionId,jdbcType=BIGINT},
		#{item.updateTransactionId,jdbcType=BIGINT},
		#{item.remarks,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=VARCHAR}, #{item.createdDate,jdbcType=TIMESTAMP},
		#{item.lastUpdatedBy,jdbcType=VARCHAR},
		#{item.lastUpdatedDate,jdbcType=TIMESTAMP},
		#{item.organizationId,jdbcType=BIGINT})
	</foreach>
  </insert>
  <insert id="insert" parameterType="com.honest.sdms.transaction.entity.MaterialStoreage">
	insert into material_storeage (item_id, item,
	transaction_summary_id, inventory_type_id, po_header_id, item_grade_id, specific_id, warehouse,
	net_weight_per_unit,
	net_weight, gross_weight, piece_num,
	create_transaction_id, update_transaction_id,
	remarks, created_by, created_date,
	last_updated_by, last_updated_date, organization_id)
	values (#{itemId,jdbcType=BIGINT}, #{item,jdbcType=VARCHAR},
	#{transactionSummaryId,jdbcType=BIGINT},#{inventoryTypeId,jdbcType=BIGINT},
	#{poHeaderId,jdbcType=BIGINT}, #{itemGradeId,jdbcType=BIGINT}, #{specificId,jdbcType=BIGINT},
	#{warehouse,jdbcType=VARCHAR},
	#{netWeightPerUnit,jdbcType=DOUBLE},#{netWeight,jdbcType=DOUBLE},
	#{grossWeight,jdbcType=DOUBLE}, #{pieceNum,jdbcType=BIGINT},
	#{createTransactionId,jdbcType=BIGINT},
	#{updateTransactionId,jdbcType=BIGINT},
	#{remarks,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP},
	#{lastUpdatedBy,jdbcType=VARCHAR},
	#{lastUpdatedDate,jdbcType=TIMESTAMP},
	#{organizationId,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.transaction.entity.MaterialStoreage">
    update material_storeage
    set item_id = #{itemId,jdbcType=BIGINT},
      item = #{item,jdbcType=VARCHAR},
      transaction_summary_id = #{transactionSummaryId,jdbcType=BIGINT},
      inventory_type_id = #{inventoryTypeId,jdbcType=BIGINT},
      po_header_id = #{poHeaderId,jdbcType=BIGINT},
      item_grade_id = #{itemGradeId,jdbcType=BIGINT},
      specific_id = #{specificId,jdbcType=BIGINT},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      net_weight_per_unit = #{netWeightPerUnit,jdbcType=DOUBLE},
      net_weight = #{netWeight,jdbcType=DOUBLE},
      gross_weight = #{grossWeight,jdbcType=DOUBLE},
      piece_num = #{pieceNum,jdbcType=BIGINT},
      create_transaction_id = #{createTransactionId,jdbcType=BIGINT},
      update_transaction_id = #{updateTransactionId,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where store_id = #{storeId,jdbcType=BIGINT}
  </update>
</mapper>