<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.order.dao.OrderExpressMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.order.entity.OrderExpress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="header_id" jdbcType="BIGINT" property="headerId" />
    <result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
    <result column="express_status" jdbcType="VARCHAR" property="expressStatus" />
    <result column="net_name" jdbcType="VARCHAR" property="netName" />
    <result column="consignee_realname" jdbcType="VARCHAR" property="consigneeRealname" />
    <result column="consignee_telphone" jdbcType="VARCHAR" property="consigneeTelphone" />
    <result column="consignee_province" jdbcType="VARCHAR" property="consigneeProvince" />
    <result column="consignee_city" jdbcType="VARCHAR" property="consigneeCity" />
    <result column="consignee_county" jdbcType="VARCHAR" property="consigneeCounty" />
    <result column="consignee_address" jdbcType="VARCHAR" property="consigneeAddress" />
    <result column="consignee_zip" jdbcType="VARCHAR" property="consigneeZip" />
    <result column="delivery_conditions" jdbcType="VARCHAR" property="deliveryConditions" />
    <result column="delivery_amount" jdbcType="DOUBLE" property="deliveryAmount" />
    <result column="express_result_last" jdbcType="VARCHAR" property="expressResultLast" />
    <result column="express_result" jdbcType="VARCHAR" property="expressResult" />
    <result column="express_create_time" jdbcType="TIMESTAMP" property="expressCreateTime" />
    <result column="express_update_time" jdbcType="TIMESTAMP" property="expressUpdateTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, header_id, express_company, express_no, express_status, net_name, consignee_realname, 
    consignee_telphone, consignee_province, consignee_city, consignee_county, consignee_address, 
    consignee_zip, delivery_conditions, delivery_amount, express_result_last, express_result, 
    express_create_time, express_update_time, created_by, created_date, last_updated_by, 
    last_updated_date, organization_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_express
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_express
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honest.sdms.order.entity.OrderExpress">
    insert into order_express (id, header_id, express_company, 
      express_no, express_status, net_name, 
      consignee_realname, consignee_telphone, consignee_province, 
      consignee_city, consignee_county, consignee_address, 
      consignee_zip, delivery_conditions, delivery_amount, 
      express_result_last, express_result, express_create_time, 
      express_update_time, created_by, created_date, 
      last_updated_by, last_updated_date, organization_id
      )
    values (#{id,jdbcType=BIGINT}, #{headerId,jdbcType=BIGINT}, #{expressCompany,jdbcType=VARCHAR}, 
      #{expressNo,jdbcType=VARCHAR}, #{expressStatus,jdbcType=VARCHAR}, #{netName,jdbcType=VARCHAR}, 
      #{consigneeRealname,jdbcType=VARCHAR}, #{consigneeTelphone,jdbcType=VARCHAR}, #{consigneeProvince,jdbcType=VARCHAR}, 
      #{consigneeCity,jdbcType=VARCHAR}, #{consigneeCounty,jdbcType=VARCHAR}, #{consigneeAddress,jdbcType=VARCHAR}, 
      #{consigneeZip,jdbcType=VARCHAR}, #{deliveryConditions,jdbcType=VARCHAR}, #{deliveryAmount,jdbcType=DOUBLE}, 
      #{expressResultLast,jdbcType=VARCHAR}, #{expressResult,jdbcType=VARCHAR}, #{expressCreateTime,jdbcType=TIMESTAMP}, 
      #{expressUpdateTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{organizationId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.honest.sdms.order.entity.OrderExpress">
    insert into order_express
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="headerId != null">
        header_id,
      </if>
      <if test="expressCompany != null">
        express_company,
      </if>
      <if test="expressNo != null">
        express_no,
      </if>
      <if test="expressStatus != null">
        express_status,
      </if>
      <if test="netName != null">
        net_name,
      </if>
      <if test="consigneeRealname != null">
        consignee_realname,
      </if>
      <if test="consigneeTelphone != null">
        consignee_telphone,
      </if>
      <if test="consigneeProvince != null">
        consignee_province,
      </if>
      <if test="consigneeCity != null">
        consignee_city,
      </if>
      <if test="consigneeCounty != null">
        consignee_county,
      </if>
      <if test="consigneeAddress != null">
        consignee_address,
      </if>
      <if test="consigneeZip != null">
        consignee_zip,
      </if>
      <if test="deliveryConditions != null">
        delivery_conditions,
      </if>
      <if test="deliveryAmount != null">
        delivery_amount,
      </if>
      <if test="expressResultLast != null">
        express_result_last,
      </if>
      <if test="expressResult != null">
        express_result,
      </if>
      <if test="expressCreateTime != null">
        express_create_time,
      </if>
      <if test="expressUpdateTime != null">
        express_update_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="headerId != null">
        #{headerId,jdbcType=BIGINT},
      </if>
      <if test="expressCompany != null">
        #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null">
        #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="expressStatus != null">
        #{expressStatus,jdbcType=VARCHAR},
      </if>
      <if test="netName != null">
        #{netName,jdbcType=VARCHAR},
      </if>
      <if test="consigneeRealname != null">
        #{consigneeRealname,jdbcType=VARCHAR},
      </if>
      <if test="consigneeTelphone != null">
        #{consigneeTelphone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeProvince != null">
        #{consigneeProvince,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCity != null">
        #{consigneeCity,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCounty != null">
        #{consigneeCounty,jdbcType=VARCHAR},
      </if>
      <if test="consigneeAddress != null">
        #{consigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="consigneeZip != null">
        #{consigneeZip,jdbcType=VARCHAR},
      </if>
      <if test="deliveryConditions != null">
        #{deliveryConditions,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAmount != null">
        #{deliveryAmount,jdbcType=DOUBLE},
      </if>
      <if test="expressResultLast != null">
        #{expressResultLast,jdbcType=VARCHAR},
      </if>
      <if test="expressResult != null">
        #{expressResult,jdbcType=VARCHAR},
      </if>
      <if test="expressCreateTime != null">
        #{expressCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressUpdateTime != null">
        #{expressUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honest.sdms.order.entity.OrderExpress">
    update order_express
    <set>
      <if test="headerId != null">
        header_id = #{headerId,jdbcType=BIGINT},
      </if>
      <if test="expressCompany != null">
        express_company = #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null">
        express_no = #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="expressStatus != null">
        express_status = #{expressStatus,jdbcType=VARCHAR},
      </if>
      <if test="netName != null">
        net_name = #{netName,jdbcType=VARCHAR},
      </if>
      <if test="consigneeRealname != null">
        consignee_realname = #{consigneeRealname,jdbcType=VARCHAR},
      </if>
      <if test="consigneeTelphone != null">
        consignee_telphone = #{consigneeTelphone,jdbcType=VARCHAR},
      </if>
      <if test="consigneeProvince != null">
        consignee_province = #{consigneeProvince,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCity != null">
        consignee_city = #{consigneeCity,jdbcType=VARCHAR},
      </if>
      <if test="consigneeCounty != null">
        consignee_county = #{consigneeCounty,jdbcType=VARCHAR},
      </if>
      <if test="consigneeAddress != null">
        consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
      </if>
      <if test="consigneeZip != null">
        consignee_zip = #{consigneeZip,jdbcType=VARCHAR},
      </if>
      <if test="deliveryConditions != null">
        delivery_conditions = #{deliveryConditions,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAmount != null">
        delivery_amount = #{deliveryAmount,jdbcType=DOUBLE},
      </if>
      <if test="expressResultLast != null">
        express_result_last = #{expressResultLast,jdbcType=VARCHAR},
      </if>
      <if test="expressResult != null">
        express_result = #{expressResult,jdbcType=VARCHAR},
      </if>
      <if test="expressCreateTime != null">
        express_create_time = #{expressCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressUpdateTime != null">
        express_update_time = #{expressUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.order.entity.OrderExpress">
    update order_express
    set header_id = #{headerId,jdbcType=BIGINT},
      express_company = #{expressCompany,jdbcType=VARCHAR},
      express_no = #{expressNo,jdbcType=VARCHAR},
      express_status = #{expressStatus,jdbcType=VARCHAR},
      net_name = #{netName,jdbcType=VARCHAR},
      consignee_realname = #{consigneeRealname,jdbcType=VARCHAR},
      consignee_telphone = #{consigneeTelphone,jdbcType=VARCHAR},
      consignee_province = #{consigneeProvince,jdbcType=VARCHAR},
      consignee_city = #{consigneeCity,jdbcType=VARCHAR},
      consignee_county = #{consigneeCounty,jdbcType=VARCHAR},
      consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
      consignee_zip = #{consigneeZip,jdbcType=VARCHAR},
      delivery_conditions = #{deliveryConditions,jdbcType=VARCHAR},
      delivery_amount = #{deliveryAmount,jdbcType=DOUBLE},
      express_result_last = #{expressResultLast,jdbcType=VARCHAR},
      express_result = #{expressResult,jdbcType=VARCHAR},
      express_create_time = #{expressCreateTime,jdbcType=TIMESTAMP},
      express_update_time = #{expressUpdateTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>