<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.order.dao.OrderHeaderMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.order.entity.OrderHeader">
    <id column="header_id" jdbcType="BIGINT" property="headerId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_type_id" jdbcType="BIGINT" property="orderTypeId" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="buyer_notes" jdbcType="VARCHAR" property="buyerNotes" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="shop_order_no" jdbcType="VARCHAR" property="shopOrderNo" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="customer_service_notes" jdbcType="VARCHAR" property="customerServiceNotes" />
    <result column="order_count" jdbcType="BIGINT" property="orderCount" />
    <result column="order_amount" jdbcType="DOUBLE" property="orderAmount" />
    <result column="cancel_order" jdbcType="CHAR" property="cancelOrder" />
    <result column="order_log" jdbcType="VARCHAR" property="orderLog" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    header_id, order_no, order_type_id, order_status, buyer_notes, shop_id, shop_order_no, 
    shop_name, customer_service_notes, order_count, order_amount, cancel_order, order_log, 
    is_valid, created_by, created_date, last_updated_by, last_updated_date, organization_id
  </sql>
  <sql id="Base_Where">
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="orderNo != null and orderNo != ''">
        and order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="orderTypeId != null">
        and order_type_id = #{orderTypeId,jdbcType=BIGINT}
      </if>
      <if test="isValid != null">
      	and is_valid = #{isValid}
      </if>
      <if test="cancelOrder != null">
      	and cancel_order = #{cancelOrder}
      </if>
      <if test="orderStatus != null and orderStatus != ''">
        and order_status = #{orderStatus,jdbcType=VARCHAR}
      </if>
      <if test="buyerNotes != null and buyerNotes != ''">
        and buyer_notes = #{buyerNotes,jdbcType=VARCHAR}
      </if>
      <if test="shopId != null">
        and shop_id = #{shopId,jdbcType=BIGINT}
      </if>
      <if test="shopName != null and shopName != ''">
        and shop_name = #{shopName,jdbcType=VARCHAR}
      </if>
      <if test="customerServiceNotes != null">
        and customer_service_notes = #{customerServiceNotes,jdbcType=VARCHAR}
      </if>
      <if test="orderAmount != null">
        and order_amount = #{orderAmount,jdbcType=DOUBLE}
      </if>
      <if test="organizationId != null">
        and organization_id = #{organizationId,jdbcType=BIGINT}
      </if>
	</trim>
  </sql>
  <select id="findByCond" parameterType="com.honest.sdms.order.entity.OrderHeader" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
		from order_header
	<include refid="Base_Where" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_header
    where header_id = #{headerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_header
    where header_id = #{headerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honest.sdms.order.entity.OrderHeader">
    insert into order_header (order_no, order_type_id, 
      order_status, buyer_notes, shop_id, 
      shop_order_no, shop_name, customer_service_notes, 
      order_count, order_amount, cancel_order, 
      order_log, is_valid, created_by, 
      created_date, last_updated_by, last_updated_date, 
      organization_id)
    values (#{orderNo,jdbcType=VARCHAR}, #{orderTypeId,jdbcType=BIGINT}, 
      #{orderStatus,jdbcType=VARCHAR}, #{buyerNotes,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{shopOrderNo,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{customerServiceNotes,jdbcType=VARCHAR}, 
      #{orderCount,jdbcType=BIGINT}, #{orderAmount,jdbcType=DOUBLE}, #{cancelOrder,jdbcType=CHAR}, 
      #{orderLog,jdbcType=VARCHAR}, #{isValid,jdbcType=CHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{organizationId,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.order.entity.OrderHeader">
    update order_header
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_type_id = #{orderTypeId,jdbcType=BIGINT},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      buyer_notes = #{buyerNotes,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      shop_order_no = #{shopOrderNo,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      customer_service_notes = #{customerServiceNotes,jdbcType=VARCHAR},
      order_count = #{orderCount,jdbcType=BIGINT},
      order_amount = #{orderAmount,jdbcType=DOUBLE},
      cancel_order = #{cancelOrder,jdbcType=CHAR},
      order_log = #{orderLog,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where header_id = #{headerId,jdbcType=BIGINT}
  </update>
</mapper>