<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.order.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.order.entity.OrderDetail">
    <id column="detail_id" jdbcType="BIGINT" property="detailId" />
    <result column="header_id" jdbcType="VARCHAR" property="headerId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="item_specific_id" jdbcType="BIGINT" property="itemSpecificId" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="piece_num" jdbcType="BIGINT" property="pieceNum" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    detail_id, header_id, product_name, item_id, item, item_specific_id, warehouse, weight, 
    piece_num, description, created_by, created_date, last_updated_by, last_updated_date, 
    organization_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </delete>
  <insert id="saveList" parameterType="list">
	INSERT INTO order_detail (header_id, product_name,
	item_id, item, item_specific_id,
	warehouse, weight, piece_num,
	description, created_by, created_date,
	last_updated_by, last_updated_date, organization_id)
	VALUES
	<foreach collection="list" item="item" separator=",">
		(#{item.headerId,jdbcType=VARCHAR}, #{item.productName,jdbcType=VARCHAR},
		#{item.itemId,jdbcType=BIGINT}, #{item.item,jdbcType=VARCHAR},
		#{item.itemSpecificId,jdbcType=BIGINT},
		#{item.warehouse,jdbcType=VARCHAR}, #{item.weight,jdbcType=DOUBLE}, #{item.pieceNum,jdbcType=BIGINT},
		#{item.description,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=VARCHAR},
		#{item.createdDate,jdbcType=TIMESTAMP},
		#{item.lastUpdatedBy,jdbcType=VARCHAR}, #{item.lastUpdatedDate,jdbcType=TIMESTAMP},
		#{item.organizationId,jdbcType=BIGINT})
	</foreach>
  </insert>
  <insert id="insert" parameterType="com.honest.sdms.order.entity.OrderDetail">
	insert into order_detail (header_id, product_name,
	item_id, item, item_specific_id,
	warehouse, weight, piece_num,
	description, created_by, created_date,
	last_updated_by, last_updated_date, organization_id)
	values (#{headerId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR},
	#{itemId,jdbcType=BIGINT}, #{item,jdbcType=VARCHAR},
	#{itemSpecificId,jdbcType=BIGINT},
	#{warehouse,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, #{pieceNum,jdbcType=BIGINT},
	#{description,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
	#{createdDate,jdbcType=TIMESTAMP},
	#{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP},
	#{organizationId,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.order.entity.OrderDetail">
    update order_detail
    set header_id = #{headerId,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      item = #{item,jdbcType=VARCHAR},
      item_specific_id = #{itemSpecificId,jdbcType=BIGINT},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      piece_num = #{pieceNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
</mapper>