<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.transaction.dao.PoHeaderMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.transaction.entity.PoHeader">
    <id column="header_id" jdbcType="BIGINT" property="headerId" />
    <result column="po_number" jdbcType="VARCHAR" property="poNumber" />
    <result column="po_type" jdbcType="VARCHAR" property="poType" />
    <result column="vendor" jdbcType="VARCHAR" property="vendor" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="buyer" jdbcType="VARCHAR" property="buyer" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="agent_pay" jdbcType="DOUBLE" property="agentPay" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="origin_place" jdbcType="VARCHAR" property="originPlace" />
    <result column="origin_place_name" jdbcType="VARCHAR" property="originPlaceName" />
    <result column="net_weight" jdbcType="DOUBLE" property="netWeight" />
    <result column="gross_weight" jdbcType="DOUBLE" property="grossWeight" />
    <result column="settlement_weight" jdbcType="DOUBLE" property="settlementWeight" />
    <result column="loss_weight" jdbcType="DOUBLE" property="lossWeight" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="is_closed" jdbcType="VARCHAR" property="isClosed" />
    <result column="totle_pieces" jdbcType="BIGINT" property="totlePieces" />
    <result column="package_type" jdbcType="VARCHAR" property="packageType" />
    <result column="date_of_purchase" jdbcType="TIMESTAMP" property="dateOfPurchase" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    header_id, po_number, po_type, vendor, total_amount, buyer, agent, agent_pay, item_id, item, 
    origin_place, net_weight, gross_weight, settlement_weight, loss_weight, unit, totle_pieces, 
    package_type, date_of_purchase, is_closed, remarks, created_by, created_date, last_updated_by, 
    last_updated_date, organization_id
  </sql>
  <sql id="Base_Where">
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="poNumber != null and poNumber != '' ">
        and po_number like UPPER(CONCAT('%',#{poNumber,jdbcType=VARCHAR},'%')) 
      </if> 
      <if test="poType != null and poType != '' ">
        and po_type = #{poType,jdbcType=VARCHAR}
      </if>
      <if test="vendor != null and vendor != '' ">
        and vendor like CONCAT('%',#{vendor,jdbcType=VARCHAR},'%')
      </if>
      <if test="buyer != null and buyer != '' ">
        and buyer = #{buyer,jdbcType=VARCHAR}
      </if>
      <if test="agent != null and agent != '' ">
        and agent = #{agent,jdbcType=VARCHAR}
      </if>
      <if test="itemId != null">
        and item_id = #{itemId,jdbcType=BIGINT}
      </if>
      <if test="item != null and item != '' ">
        and item = #{item,jdbcType=VARCHAR}
      </if>
      <if test="originPlace != null and originPlace != '' ">
        and origin_place = #{originPlace,jdbcType=VARCHAR}
      </if>
      <if test="dateOfPurchase != null">
        and DATE_FORMAT(date_of_purchase,'%Y-%m-%d') = DATE_FORMAT(#{dateOfPurchase,jdbcType=TIMESTAMP},'%Y-%m-%d')
      </if>
      <if test="isClosed != null">
        and is_closed = #{isClosed,jdbcType=VARCHAR}
      </if>
      <if test="organizationId != null">
        and organization_id = #{organizationId,jdbcType=BIGINT}
      </if>
	  </trim>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from po_header
    where header_id = #{headerId,jdbcType=BIGINT}
  </select>
  <select id="nextSeqNumber" resultType="java.lang.Long">
  	SELECT NEXTVAL('PoSequence')
  </select>
  <select id="findByCond" parameterType="com.honest.sdms.transaction.entity.PoHeader" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />,
	(select ds.dict_data_name from sys_dict_datas ds where ds.dict_data_code = p.origin_place and ds.organization_id = p.organization_id and ds.dict_id = 5) as origin_place_name
	from po_header p
	<include refid="Base_Where" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from po_header
    where header_id = #{headerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honest.sdms.transaction.entity.PoHeader">
    insert into po_header (po_number, po_type, vendor, 
      total_amount, buyer, agent, 
      agent_pay, item_id, item, 
      origin_place, net_weight, gross_weight, 
      settlement_weight, loss_weight, unit, 
      totle_pieces, package_type, date_of_purchase, is_closed, 
      remarks, created_by, created_date, 
      last_updated_by, last_updated_date, organization_id
      )
    values (#{poNumber,jdbcType=VARCHAR},#{poType,jdbcType=VARCHAR}, #{vendor,jdbcType=VARCHAR}, 
      #{totalAmount,jdbcType=DOUBLE}, #{buyer,jdbcType=VARCHAR}, #{agent,jdbcType=VARCHAR}, 
      #{agentPay,jdbcType=DOUBLE}, #{itemId,jdbcType=BIGINT}, #{item,jdbcType=VARCHAR}, 
      #{originPlace,jdbcType=VARCHAR}, #{netWeight,jdbcType=DOUBLE}, #{grossWeight,jdbcType=DOUBLE}, 
      #{settlementWeight,jdbcType=DOUBLE}, #{lossWeight,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR}, 
      #{totlePieces,jdbcType=BIGINT}, #{packageType,jdbcType=VARCHAR}, #{dateOfPurchase,jdbcType=TIMESTAMP},#{isClosed,jdbcType=VARCHAR},  
      #{remarks,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{organizationId,jdbcType=BIGINT}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.transaction.entity.PoHeader">
    update po_header
    set po_number = #{poNumber,jdbcType=VARCHAR},
      po_type = #{poType,jdbcType=VARCHAR},
      vendor = #{vendor,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      buyer = #{buyer,jdbcType=VARCHAR},
      agent = #{agent,jdbcType=VARCHAR},
      agent_pay = #{agentPay,jdbcType=DOUBLE},
      item_id = #{itemId,jdbcType=BIGINT},
      item = #{item,jdbcType=VARCHAR},
      origin_place = #{originPlace,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=DOUBLE},
      gross_weight = #{grossWeight,jdbcType=DOUBLE},
      settlement_weight = #{settlementWeight,jdbcType=DOUBLE},
      loss_weight = #{lossWeight,jdbcType=DOUBLE},
      unit = #{unit,jdbcType=VARCHAR},
      totle_pieces = #{totlePieces,jdbcType=BIGINT},
      package_type = #{packageType,jdbcType=VARCHAR},
      date_of_purchase = #{dateOfPurchase,jdbcType=TIMESTAMP},
      is_closed = #{isClosed,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where header_id = #{headerId,jdbcType=BIGINT}
  </update>
</mapper>