<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.system.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.system.entity.Role">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    role_id, role_name, role_code, description, organization_id, created_by, 
    created_date
  </sql>
  <sql id="Base_Where">
	  <trim prefix="WHERE" prefixOverrides="AND |OR ">
	  <if test="roleName != null and roleName != ''">
        and role_name = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="roleCode != null and roleCode !=''">
        and role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="organizationId != null">
        and organization_id = #{organizationId,jdbcType=BIGINT}
      </if>
      <if test="createdBy != null">
        and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
        and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
	  </trim>
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roles 
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <select id="findByCond" parameterType="com.honest.sdms.system.entity.Role" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from roles
	<include refid="Base_Where" />
  </select>
  <select id="findRolesByUserId" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from roles r
    where exists (select 1 from user_role ur where ur.role_id = r.role_id and ur.organization_id = r.organization_id 
    and ur.organization_id = #{organizationId,jdbcType=BIGINT} and ur.user_id = #{userId,jdbcType=BIGINT}) 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from roles
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.honest.sdms.system.entity.Role">
    insert into roles (role_name, role_code, 
      description, organization_id, 
      created_by, created_date)
    values (#{roleName,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{organizationId,jdbcType=BIGINT}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.system.entity.Role">
    update roles
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=BIGINT},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>
</mapper>