<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.system.dao.SysDictDatasMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.system.entity.SysDictDatas">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dict_data_code" jdbcType="VARCHAR" property="dictDataCode" />
    <result column="dict_data_name" jdbcType="VARCHAR" property="dictDataName" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="dict_id" jdbcType="BIGINT" property="dictId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dict_data_code, dict_data_name, is_valid, dict_id, created_by, created_date, last_updated_by, 
    last_updated_date, remarks, organization_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict_datas
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getDictDatasByDictId" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from sys_dict_datas
    where dict_id = #{dictId,jdbcType=BIGINT} and organization_id = #{organizationId,jdbcType=BIGINT}
    and is_valid = 'Y' order by dict_data_name
  </select>
  
  <select id="getDictDatasByDictCode" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from sys_dict_datas d
    where d.is_valid='Y' and exists (select 1 from sys_dict_type dt where dt.dict_id = d.dict_id 
    	and dt.dict_code = #{dictCode,jdbcType=VARCHAR} and dt.organization_id = d.organization_id)
    and d.organization_id = #{organizationId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dict_datas
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honest.sdms.system.entity.SysDictDatas">
    insert into sys_dict_datas (dict_data_code, dict_data_name, 
      is_valid, dict_id, created_by, 
      created_date, last_updated_by, last_updated_date, 
      remarks, organization_id)
    values (#{dictDataCode,jdbcType=VARCHAR}, #{dictDataName,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=CHAR}, #{dictId,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{organizationId,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.system.entity.SysDictDatas">
    update sys_dict_datas
    set dict_data_code = #{dictDataCode,jdbcType=VARCHAR},
      dict_data_name = #{dictDataName,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR},
      dict_id = #{dictId,jdbcType=BIGINT},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>