<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.system.dao.VendorWarehouseMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.system.entity.VendorWarehouse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vendor_id" jdbcType="BIGINT" property="vendorId" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="warehouse_address" jdbcType="VARCHAR" property="warehouseAddress" />
    <result column="warehouse_type" jdbcType="INTEGER" property="warehouseType" />
    <result column="express_company_id" jdbcType="BIGINT" property="expressCompanyId" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vendor_id, warehouse, warehouse_address, warehouse_type, express_company_id, is_valid, created_by, 
    created_date, last_updated_by, last_updated_date, organization_id
  </sql>
  <sql id="Base_Column_List2">
    v.id, vendor_id, v.warehouse, v.warehouse_address, v.warehouse_type, v.express_company_id, v.is_valid
  </sql>
  <sql id="Base_Where">
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
	  <if test="vendorId != null">
        and vendor_id = #{vendorId,jdbcType=BIGINT}
      </if>
      <if test="expressCompanyId != null">
        and express_company_id = #{expressCompanyId,jdbcType=BIGINT}
      </if>
      <if test="warehouse != null and warehouse != '' ">
        and warehouse = #{warehouse,jdbcType=VARCHAR}
      </if>
      <if test="warehouseAddress != null and warehouseAddress != '' ">
        and warehouse_address = #{warehouseAddress,jdbcType=VARCHAR}
      </if>
      <if test="warehouseType != null and warehouseType != '' ">
        and warehouse_type = #{warehouseType,jdbcType=INTEGER}
      </if>
      <if test="isValid != null and isValid != '' ">
        and is_valid = #{isValid,jdbcType=VARCHAR}
      </if>
      <if test="organizationId != null">
        and organization_id = #{organizationId,jdbcType=BIGINT}
      </if>
	</trim>
  </sql>
  <select id="findByCond" parameterType="com.honest.sdms.system.entity.VendorWarehouse" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vendor_warehouse
    <include refid="Base_Where"/>
  </select>
  <select id="getWareHouseByExpressId" resultMap="BaseResultMap">
  	SELECT e.vendor_name as vendorName,<include refid="Base_Column_List2" />  FROM vendors e,express_warehouse_relation n, vendor_warehouse v
		where v.is_valid = 'Y' and e.id = v.vendor_id and n.vendor_warehouse_id = v.id and e.organization_id and v.organization_id and n.organization_id = v.organization_id and n.express_id = #{expressId} and n.organization_id = #{organizationId}
  </select>
  <select id="getVendorWarehouseListByVendorId" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from vendor_warehouse
    where vendor_id = #{vendorId,jdbcType=BIGINT} and organization_id = #{organizationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vendor_warehouse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honest.sdms.system.entity.VendorWarehouse">
    insert into vendor_warehouse (id, vendor_id, warehouse, 
      warehouse_address, warehouse_type, express_company_id, is_valid, 
      created_by, created_date, last_updated_by, 
      last_updated_date, organization_id)
    values (#{id,jdbcType=BIGINT}, #{vendorId,jdbcType=BIGINT}, #{warehouse,jdbcType=VARCHAR}, 
      #{warehouseAddress,jdbcType=VARCHAR}, #{warehouseType,jdbcType=INTEGER}, #{expressCompanyId,jdbcType=BIGINT}, #{isValid,jdbcType=CHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{organizationId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.system.entity.VendorWarehouse">
    update vendor_warehouse
    set vendor_id = #{vendorId,jdbcType=BIGINT},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      warehouse_address = #{warehouseAddress,jdbcType=VARCHAR},
      warehouse_type = #{warehouseType,jdbcType=INTEGER},
      express_company_id = #{expressCompanyId,jdbcType=BIGINT},
      is_valid = #{isValid,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>