<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honest.sdms.system.dao.VendorArchivesMapper">
  <resultMap id="BaseResultMap" type="com.honest.sdms.system.entity.VendorArchives">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_specific_id" jdbcType="BIGINT" property="itemSpecificId" />
    <result column="vendor_id" jdbcType="BIGINT" property="vendorId" />
    <result column="vendor_warehouse_id" jdbcType="BIGINT" property="vendorWarehouseId" />
    <result column="vendor_specific_code" jdbcType="VARCHAR" property="vendorSpecificCode" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="organization_id" jdbcType="BIGINT" property="organizationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, item_specific_id, vendor_id, vendor_warehouse_id, vendor_specific_code, is_valid, created_by, 
    created_date, last_updated_by, last_updated_date, organization_id
  </sql>
  <sql id="Base_Where">
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
	  <if test="itemSpecificId != null">
        and item_specific_id = #{itemSpecificId,jdbcType=BIGINT}
      </if>
      <if test="vendorId != null">
        and vendor_id = #{vendorId,jdbcType=BIGINT}
      </if>
      <if test="vendorWarehouseId != null">
        and vendor_warehouse_id = #{vendorWarehouseId,jdbcType=BIGINT}
      </if>
      <if test="vendorSpecificCode != null and vendorSpecificCode !='' ">
        and vendor_specific_code = #{vendorSpecificCode,jdbcType=VARCHAR}
      </if>
      <if test="isValid != null and isValid != '' ">
        and is_valid = #{isValid,jdbcType=VARCHAR}
      </if>
      <if test="organizationId != null">
        and organization_id = #{organizationId,jdbcType=BIGINT}
      </if>
	</trim>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vendor_archives
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getVendorArchiveListByHouseId" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from vendor_archives
    where vendor_id = #{vendorId,jdbcType=BIGINT} and vendor_warehouse_id = #{vendorWarehouseId,jdbcType=BIGINT} and organization_id = #{organizationId,jdbcType=BIGINT}
  </select>
  <select id="getVendorArchiveListByVendorId" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />,
    (select item from item_specific sc where sc.id = item_specific_id and sc.organization_id = organization_id ) as item,
    (select item_id from item_specific sc where sc.id = item_specific_id and sc.organization_id = organization_id ) as itemId,
    (select specific_code from item_specific sc where sc.id = item_specific_id and sc.organization_id = organization_id) as specificCode
    from vendor_archives
    where vendor_id = #{vendorId,jdbcType=BIGINT} and organization_id = #{organizationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vendor_archives
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honest.sdms.system.entity.VendorArchives">
    insert into vendor_archives (id, item_specific_id, vendor_id, vendor_warehouse_id, 
      vendor_specific_code, is_valid, created_by, 
      created_date, last_updated_by, last_updated_date, 
      organization_id)
    values (#{id,jdbcType=BIGINT}, #{itemSpecificId,jdbcType=BIGINT},#{vendorId,jdbcType=BIGINT}, #{vendorWarehouseId,jdbcType=BIGINT}, 
      #{vendorSpecificCode,jdbcType=VARCHAR}, #{isValid,jdbcType=CHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{organizationId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.honest.sdms.system.entity.VendorArchives">
    update vendor_archives
    set item_specific_id = #{itemSpecificId,jdbcType=BIGINT},
      vendor_id = #{vendorId,jdbcType=BIGINT},
      vendor_warehouse_id = #{vendorWarehouseId,jdbcType=BIGINT},
      vendor_specific_code = #{vendorSpecificCode,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>